.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 2% auto;
    flex-direction: column;
    user-select: none;
}

.sceneLabel {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}

.scene {
    display: flex;
    max-width: 1920px;
    text-align: center;
    padding: 5px 1rem;
    border: 2px solid black;
    margin-bottom: 40px;
}

.tableRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.balconySideRowsContainer {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.tableColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    flex-wrap: wrap;
}

.rowLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.tableContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 /* 
.tableContainer {
   display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid #457B9D;* / 
}

*/
