
.fixedContainer {
    position: fixed;
    display: flex;
    height: 100%;
    flex-direction: column;
    max-width: 200px;
    min-width: min-content;
    background-color: #f1e1f5;
}

/* Стили навбара */


.navLinks {
    font-size: large;
    display: flex;
    flex-grow: 2;
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 15%;
    min-width: min-content;
    padding: 0.5%;
    padding-top: 40px;
    justify-content: flex-start;
    align-items: flex-start;
}



.navLink {
    margin-right: 2%;
}

.logoContainer {
    position: relative;
    min-height: 200px;
    width: 200px;
    border-radius: 120px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 0;
}

.logoPicture {
    border-radius: 120px;
}

.logOutButton {
    margin: 0;
}