.playItem {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 10px;
    background-color: #99d98c;
    padding: 1rem;
    margin: 1%;
    max-width: 30%;
    width: 30%;
}

.playTitle {
    font-weight: bold;
    font-size: 26px;
}

.playDescription {
    font-size: 22px;
}


@media (max-width: 800px) {
    .playItem {
        max-width: 100%;
        width: 100%;
        display: flexbox;
    }
}