.playItem {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 10px;
    background-color: #99d98c;
    padding: 1rem;
    margin-right: 2%;
    max-width: 30%;
    width: 30%;
    box-shadow: 1px 1px 10px #1c8501;
}

.playTitle {
    font-weight: bold;
    font-size: 26px;
}

.playDescription {
    font-size: 22px;
}


@media (max-width: 1550px) {
    .playItem {
        display: flexbox;
        max-width: 100%;
        width: 100%;
    }
}