.customButton{
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #F1FAEE;
    font-size: 22px;
    font-weight: bold;
    border: 3px solid ;
    padding: 10px;
    margin: 0.5%;
    border-radius: 10px;
}

.blue {
    color: #F1FAEE;
    border-color: #1e3c66;
    background-color: #1e3c66;
}

.blue:hover {
    background-color: #072538;
    border-color: #072538;
}

.red {
    background-color: #c1121f;
    border-color: #c1121f;
    color: #F1FAEE;
}

.red:hover {
    background-color: #780000;
    border-color: #780000;
}

.green {
    color: #F1FAEE;
    background-color: #4a7140 ;
    border-color: #4a7140 ;
}

.green:hover {
    background-color: #223b1b ;
    border: 3px solid #223b1b ;
}