.slotItem {
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    background-color: #F1FAEE;
    border: 1px solid black;
    border-radius: 10px;
    margin: 1%;
    min-width: 100px;
    max-width: 300px;
}

.textLabel {
    font-size: 16px;
}

.bold {
    font-weight: bold;
}