.sessionItem {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 10px;
    /*border: 3px solid black;*/
    background-color: #A8DADC;
    padding: 1rem;
    margin: 0.5rem 0.5rem;
    max-width: 30%;
    width: 30%;
}

.playTitle {
    font-size: 26px;
    font-weight: bold;
}

.auditoriumTitle {
    font-size: 22px;
}

.sessionTimestamp {
    font-size: 22px;
}

/*
.sessionItem:hover{
    background-color: #E63946;
    /*border: 3px solid #457B9D; *-/
    /*border: 1px solid #0070f3; *-/
}
*/
