.layout {
    margin: 50px 200px;
    display: flex;
    flex-direction: column;
}

.navLinks {
    font-size: large;
    display: flex;
    flex-basis: auto;
    flex-shrink: 1;
    width: 400px;
    justify-content: space-between;
}
.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}