.layout {
    margin: 50px 200px;
    display: flex;
    flex-direction: column;
}

.navLinks {
    font-size: large;
    display: flex;
    flex-basis: auto;
    flex-shrink: 1;
    width: 500px;
    justify-content: space-between;
}
.mainContent {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
}

.title{
    margin: 10px 0px;
    font-size: 32px;
    font-weight: bold;
}