.layout {
    /* margin: 2% 10%; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    /* background-color: #F1FAEE; */
}

.navLinks {
    font-size: large;
    display: flex;
    flex-grow: 2;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 20%;
    margin-top: 40px;
    margin-left: 0.5%;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
}



.navLink {
    margin-right: 2%;
}
.mainContent {
    width: 100%;
    min-width: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    margin-top: 15px;
    margin-left: 20.5%;
}

.title{
    margin: 1rem 0px;
    font-size: 32px;
    font-weight: bold;
}

.logOutButton {
    margin: 0;
}

@media (max-width: 550px) {
    .layout {
        margin: 0px 0px;
        flex-direction: row;
        position: static;
    }

    .navLinks {
        justify-content: center;
        font-size: medium;
        flex-direction: column; 
        position: static;
        
    }

    .title {
        text-align: center;
    }
}