.reservedContainer {
    font-size: 20px;
    font-weight: normal;
    background-color: #E63946;
    padding: 10px;
    text-align: center;
    margin: 3px 3px;
}

.freeContainer {
    font-size: 20px;
    font-weight: normal;
    background-color: #A8DADC;
    padding: 10px;
    text-align: center;
    margin: 3px 3px;
}

.freeContainer:hover {
    background-color: #1D3557;
    color: #F1FAEE;
}


.clickedContainer {
    font-size: 20px;
    font-weight: normal;
    background-color: #99d98c;
    padding: 10px;
    text-align: center;
    margin: 3px 3px;
}
