.reservedContainer {
    user-select: none;
    font-size: 20px;
    font-weight: normal;
    background-color: #ffb703;
    padding: 10px;
    text-align: center;
    margin: 3px 3px;
}

.freeContainer {
    user-select: none;
    font-size: 20px;
    font-weight: normal;
    background-color: #A8DADC;
    padding: 10px;
    text-align: center;
    margin: 3px 3px;
}

.freeContainer:hover {
    background-color: #99d98c;
}

.clickedContainer {
    user-select: none;
    font-size: 20px;
    font-weight: normal;
    background-color: #99d98c;
    padding: 10px;
    text-align: center;
    margin: 3px 3px;
}

.clickedContainer:hover {
    background-color: #E63946;
}