.container {
    display:  flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.customInput {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    min-width: 10rem;
    height: 2rem;
    font-family: inherit;
    font-size: 20px;
    border-radius: 5px;
    border-color:  #E63946;
    border: 1px solid #E63946;
    padding-left: 4px;
    padding-top: 3px;
    padding-bottom: 0px;
}

.errorMessage {
    color: #E63946;
}