.cardImage {
    display: flexbox;
    justify-content: center;
    max-width: 200px;
    height: 300px;
    border-radius: 5px;
}

@media (max-width: 1550px) {
    .cardImage {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
}