.reservationItem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* width: 100%; */
    /* background-color: #ffb703; */
    /* background-color: #ffcb77; */
    background-color: #a3d0f7;
    /* margin: 1.5% 1.5%; */
    border-radius: 10px;
    padding: 1%;
    margin: 0 auto;
}

.flexWidthContainer {
    display: flex;
    flex-direction: row;
    max-width: 100%;      
}

.textLabel {
    font-size: 24px;
    margin-bottom: 0.5%;
}


.deleteReservationButton {
    max-width: 100%;
    min-width: fit-content;
    background-color: #c1121f;
    border-color: #c1121f;
    color: #F1FAEE;
}

.deleteReservationButton:hover {
    background-color: #780000;
    border-color: #780000;
}

.bold {
    font-weight: bold;
}

.rowContainer {
    display: flex;
    flex-direction: row;
}

.columnContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.statusOk {
    color: #4a7140;
}

.statusProblem {
    color: #e41220;
}

.table {
    max-width: 100%;
}

.table td {
    max-width: 100%;
    border-bottom: 3px solid black;
    padding: 2%;
}

.table tr:hover {
    background-color: #f3b96c;
}



@media (max-width: 1550px) {
    .reservationItem {
        display: flex;
    }
}

@media (max-width: 1250px) {
    .reservationItem {
        flex-direction: column;
    }
}